# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
.nyc_output

# next.js
.next/
out/
build

# nestjs
dist

# misc
.DS_Store
*.pem

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# local env files
.env.local
.env.development
.env.production
.env.test
.env

# turbo
.turbo